/*
    05. button
*/


/* 
    button-start
*/



.bs-offcanvas-btn-1 {
    border: 1px solid var(--bs-clr-white-1);
    background: transparent;
    width: 66px;
    height: 46px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: var(--bs-cube-1);

    .line {
        width: 30px;
        height: 1px;
        background-color: var(--bs-clr-white-1);
        transition: var(--bs-cube-1);
    }

    .shape {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: var(--bs-clr-pr-1);
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
    }


    &:hover {
        border-color: var(--bs-clr-pr-1);
        .shape {
            width: 500px;
            height: 500px;
        }

        .line {
            transform: scaleX(1.5);
        }
    }
}

.bs-offcanvas-btn-2 {
    flex: 0 0 auto;
    background: var(--bs-clr-black-1);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    transition: 0.4s var(--bs-cube-2);
    padding: 0;
    border: none;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    cursor: pointer;

    .dot {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: var(--bs-clr-white-1);
        transition: 0.4s var(--bs-cube-2);
    }

    &:hover {
        transform: rotate(180deg);
        .dot {
            background: var(--bs-clr-pr-1);
        }
    }
}

.bs-offcanvas-btn-3 {
    width: 72px;
    height: 72px;
    flex: 0 0 auto;
    background: var(--bs-clr-pr-1);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-content: center;
    justify-content: center;
    gap: 5px;
    transition: .5s var(--bs-cube-2);

    span {
        display: inline-block;
        flex: 0 0 auto;
        width: 5px;
        height: 5px;
        background: #fff;
        border-radius: 50%;
        transition: .5s var(--bs-cube-2);
    }

    &:hover {
        span {
            &:nth-child(1) {
                transform: translate(-5px, -5px);
            }
            &:nth-child(2) {
                transform: translate(0px, -5px);
            }
            &:nth-child(3) {
                transform: translate(5px, -5px);
            }
            &:nth-child(4) {
                transform: translate(-5px, 0px);
            }
            &:nth-child(6) {
                transform: translate(5px, 0px);
            }
            &:nth-child(7) {
                transform: translate(-5px, 5px);
            }
            &:nth-child(8) {
                transform: translate(0px, 5px);
            }
            &:nth-child(9) {
                transform: translate(5px, 5px);
            }
        }
    }
}

.bs-btn-1 {
    font-family: var(--bs-font-2);
    background: var(--bs-clr-pr-1);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--bs-clr-white-1);
    gap: 12px;
    display: inline-flex;
    flex: 0 0 auto;
    border-radius: 30px;
    padding: 18px 32px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: var(--bs-cube-1);
    align-items: center;

    .shape {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: #000;
        transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .icon {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        padding-left: 2px;

        i {
            transition: var(--bs-cube-1);

            &:nth-child(2) {
                position: absolute;
                transform: translateX(-30px);
                color: var(--bs-clr-pr-1);
            }
        }
    }

    &:hover {
        color: var(--bs-clr-pr-1);

        .shape {
            width: 500px;
            height: 500px;
        }

        .text {
            animation: bsBtn1 .8s;
        }

        .icon {
            i {
                &:nth-child(1) {
                    transform: translateX(30px);
                }
                &:nth-child(2) {
                    transform: translateX(0px);
                    transition-delay: .6s;
                }
            }
        }
    }
}

@keyframes bsBtn1 {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.bs-pr-btn-2 {
    font-family: var(--bs-font-1);
    text-transform: capitalize;
    font-weight: 500;
    background: var(--bs-clr-white-1);
    color: var(--bs-clr-h-4);
    padding: 11px 31px;
    border: 1px solid var(--bs-clr-h-4);
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    z-index: 1;
    margin-left: 16px;
    transition: .8s var(--bs-cube-2);

    .line-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        &::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-style: solid;
            border-color: var(--bs-clr-pr-1);
            transition: all 0.5s ease-in-out;
            z-index: 1;
            left: -16px;
            top: -16px;
            border-width: 0 1px 1px 0;
            transform-origin: bottom right;
        }
    
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-style: solid;
            border-color: var(--bs-clr-pr-1);
            transition: all 0.5s ease-in-out;
            z-index: 1;
            right: -16px;
            bottom: -16px;
            border-width: 1px 0 0 1px;
            transform-origin: top left;
        }
    }

    .line-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;

        &::after {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-style: solid;
            border-color: var(--bs-clr-pr-1);
            transition: all 0.5s ease-in-out;
            z-index: 1;
            right: -16px;
            top: -16px;
            border-width: 0 0 1px 1px;
            transform-origin: bottom left;
        }
    
        &::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-style: solid;
            border-color: var(--bs-clr-pr-1);
            transition: all 0.5s ease-in-out;
            z-index: 1;
            left: -16px;
            bottom: -16px;
            border-width: 1px 1px 0 0;
            transform-origin: top right;
        }
    }
    
    .box {
        position: absolute;
        width: 50%;
        height: 50%;
        background: var(--bs-clr-pr-1);
        z-index: -1;
        transform: scale(0);
        transition: .4s var(--bs-cube-2);
    }

    .box-1 {
        top: 0;
        left: 0;
        transform-origin: left top;
    }

    .box-2 {
        top: 0;
        right: 0;
        transform-origin: right top;
    }

    .box-3 {
        bottom: 0;
        right: 0;
        transform-origin: right bottom;
    }

    .box-4 {
        bottom: 0;
        left: 0;
        transform-origin: left bottom;
    }


    .text {
        position: relative;
        z-index: 1;
        overflow: hidden;
        line-height: 1;
        margin-bottom: -3px;

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
     
            color: var(--bs-clr-white-1);
            transition: .4s var(--bs-cube-1);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }
    
        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            transition: .4s var(--bs-cube-1);
            color: var(--bs-clr-h-4);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }
    }

    &:hover {
        border-color: var(--bs-clr-pr-1);
        .box {
            transform: scale(1);
        }

        .text {
            &::after {
                opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                opacity: 0;
                transform: translateY(-100%);
            }
        }
    }
}

.bs-pr-btn-3 {
    font-family: var(--bs-font-3);
    text-transform: capitalize;
    font-weight: 600;
    background: var(--bs-clr-h-4);
    color: var(--bs-clr-white-1);
    padding: 15px 28px;
    font-size: 16px;
    line-height: 1.5;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .4s var(--bs-cube-2);

    .text {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: .4s var(--bs-cube-2);

        &:nth-child(1) {
            position: relative;
        }

        &:nth-child(2) {
            position: absolute;
            transform: translateY(-150%);
            color: var(--bs-clr-black-1);
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--bs-clr-pr-1);
        z-index: -1;
        border-radius: 4px;
        transform: translateY(-105%);
        transition: .4s var(--bs-cube-2);
    }

    &:hover {
        color: var(--bs-clr-white-1);

        &::after {
            transform: translateY(0);
        }
        .text {
            &:nth-child(1) {
                transform: translateY(150%);
            }
            &:nth-child(2) {
                transform: translateY(0%);
           
            }
        }
    }
}


.bs-play-btn {
    font-size: 15px;
    color: var(--bs-clr-white-1);
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: var(--bs-cube-1);
    
    &:hover {
        color: var(--bs-clr-pr-1);
    }
}


.bs-play-btn-3 {
    display: inline-block;
    width: 165px;
    height: 165px;
    background: #eef4eb;
    border-radius: 50%;
    font-size: 40px;
    color: var(--bs-clr-black-1);
    position: relative;
    z-index:  1;

    @media #{$md} {
        width: 120px;
        height: 120px;
        font-size: 30px;
    }

    @media #{$xs} {
        width: 80px;
        height: 80px;
        font-size: 25px;
    }
    
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--bs-clr-pr-1);
        transition: var(--bs-cube-1);
        opacity: 0;
        border-radius: 50%;
        z-index: -1;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}

.bs-play-btn-4 {
    width: 168px;
    height: 168px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: var(--bs-clr-white-1);
    font-size: 60px;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    &:hover {
        color: var(--bs-clr-white-1);
    }
}


.bs-play-btn-5 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: var(--bs-clr-white-1);
    border-radius: 50%;
    font-size: 22px;
    position: relative;
    z-index: 1;

    @media #{$xs} {
        width: 80px;
        height: 80px;
    }

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #fff;
        border-radius: 50%;
        animation: bs-play-btn-5 5s linear infinite;
        animation-delay: 2.5s;
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #fff;
        border-radius: 50%;
        animation: bs-play-btn-5 5s linear infinite;
    }

    &:hover {
        color: var(--bs-clr-pr-1);
    }
}

@keyframes bs-play-btn-5 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}
/* 
    search-btn-1
*/
.bs-search-btn-1 {
    background: var(--bs-clr-black-1);
    color: var(--bs-clr-white-1);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    font-size: 18px;
    transition: .4s var(--bs-cube-2);
    padding: 0;
    border: none;
    outline: none;

    &:hover {
        background: var(--bs-clr-pr-1);
    }
}

.bs-search-btn-2 {
    font-family: var(--bs-font-3);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255 255 255 / 40%);
    background: transparent;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: .4s var(--bs-cube-2);

    i {
        color: var(--bs-clr-white-1);
        transition: .4s var(--bs-cube-2);
    }

    &:hover {
        color: var(--bs-clr-pr-1);

        i {
            color: var(--bs-clr-pr-1);
            transform: translateX(5px);
        }
    }
}


/* 
    button-end
*/