/*
    12. element
*/

/* 
    element-start
*/

.bs-elm-phone {
    color: var(--bs-clr-pr-1);
    font-weight: 900;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    transition: var(--bs-cube-1);

    &:hover {
        color: var(--bs-clr-white-1);
    }
}



.bs-social-link-1 {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;

    .item-link {
        display: inline-flex;
        flex: 0 0 auto;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        color: #000;
        font-size: 14px;
        opacity: .7;
    }
}

.bs-star-1 {
    display: inline-flex;
    gap: 6px;
    font-size: 18px;
    color: #FFC107;
    flex-wrap: wrap;
}


.bs-pagination-1 {
    display: inline-flex;
    width: auto !important;
    gap: 10px;

    span {
        margin: 0 !important;
        border-radius: 0;
        width: 60px;
        height: 8px;
        background: #000;
        opacity: 1;
        transition: all .5s ;

        &:is(.swiper-pagination-bullet-active) {
            background: var(--bs-clr-pr-1);
        }
    }
}


.bs-play-btn-2 {
    display: inline-flex;
    flex-direction: column;
    font-size: 13px;
    color: var(--bs-clr-white-1);
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    gap: 15px;

    .icon {
        width: 67px;
        height: 67px;
        background: #242323;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        color: #fff;
    }
    
    .text {
        max-width: 100px;
        margin-left: 10px;
    }

    &:hover {
        color: var(--bs-clr-white-1);
    }
}


.bs-slider-btn-1 {
    display: inline-flex;
    flex: 0 0 auto;
    width: 60px;
    height: 42px;
    border: 1px solid;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #000;
    opacity: 40%;
    cursor: pointer;
    transition: .5s;

    &:hover {
        color: var(--bs-clr-pr-1);
        opacity: 1;
    }
}


.bs-social-1 {
    display: flex;
    gap: 30px;

    .link {
        font-size: 20px;
        color: var(--bs-clr-black-1);
        transition: .5s var(--bs-cube-2);

        &:hover {
            color: var(--bs-clr-pr-1);
        }
    }
}



/* 
    land-btn-1-start
*/
.kd-lang-1-btn {
    border-radius: 0;
    border: none;
    font-family: var(--bs-font-2);
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
    padding-left: 0;
    line-height: 1;
    height: auto;
    padding-right: 15px;
    background: transparent;

    &::after {
        right: 0px;
        border-bottom: 2px solid #000000;
        border-right: 2px solid #000000;
        height: 8px;
        margin-top: -5px;
        width: 8px;
    }


    .current {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .flag {
        display: inline-flex;
        align-content: center;
        justify-content: center;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        flex: 0 0 auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .list {
        li {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}


.bs-pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 9px;

    .pagi-elm {
        width: 43px;
        height: 43px;
        background: #F7F6F1;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
        font-weight: 500;
        font-size: 16px;
        border-radius: 50%;

        transition: .4s var(--bs-cube-2);

        &:hover {
            background-color: var(--bs-clr-pr-1);
        }
    }
}


/* 
    element-end
*/