/*
    07. form
*/


/* 
    form-1-start
*/

.bs-form-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 25px;

    @media #{$xs} {
        grid-template-columns: 1fr ;
    }

    @media #{$sm} {
        grid-template-columns: 1fr 1fr;
    }

    &-item {
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: var(--bs-clr-pr-1);
            transform-origin: left;
            transform: scaleX(0);
            transition: .5s;
        }

        &-label {
            font-family: var(--bs-font-1);
            text-transform: capitalize;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 25px;

            @media #{$md,$xs} {
                font-size: 20px;
            }
        }

        &-input {
            border: none;
            border-bottom: 2px solid rgb(0 0 0);
            background-color: transparent;
            height: 47px;
            font-family: var(--bs-font-1);
            font-size: 16px;
            width: 100%;
            padding: 0 15px;
            color: var(--lw-clr-h-1);
            outline: none;
            font-weight: 500;


            &:is(textarea) {
                height: 150px;
                padding-top: 15px;
                margin-bottom: -8px;
            }
        }

        &-checkbox {
            display: flex;
            gap: 18px;
            cursor: pointer;

            input {
                cursor: pointer;
                flex: 0 0 auto;
                width: 28px;
            }
            label {
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
            }
        }

        &:last-child {
            margin-top: -18px;
        }

        &:is(.has-full-width)   {
            grid-column: 1 / -1;
        }

        &:is(.has-no-after) {
            &::after {
                display: none;
            }
        }
    

        &:focus-within {
            .bs-form-1-item-label {
                color: var(--bs-clr-pr-1);
            }
            &::after {
                transform: scaleX(1);
            }
        }

    }
}

/* 
    form-1-end
*/