/*
    04. mouse-cursor
*/

.wa-cursor {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	contain: layout style size;
	pointer-events: none;
	will-change: transform;
	-webkit-transition: opacity 0.3s, color 0.4s;
	-o-transition: opacity 0.3s, color 0.4s;
	-moz-transition: opacity 0.3s, color 0.4s;
	transition: opacity 0.3s, color 0.4s;

	&::before{
		background: var(--bs-clr-pr-1);
	}

    &:before {
        content: "";
        position: absolute;
        top: -30px;
        left: -30px;
        display: block;
        width: 60px;
        height: 60px;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
        transition: opacity 0.1s, -webkit-transform 0.3s ease-in-out;
        -o-transition: opacity 0.1s, -o-transform 0.3s ease-in-out;
        -moz-transition: transform 0.3s ease-in-out, opacity 0.1s, -moz-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, opacity 0.1s;
        transition: transform 0.3s ease-in-out, opacity 0.1s, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
    }
    
    &-text {
        position: absolute;
        top: -15px;
        left: -15px;
        width: 30px;
        height: 30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transform: scale(0) rotate(10deg);
        -moz-transform: scale(0) rotate(10deg);
        -ms-transform: scale(0) rotate(10deg);
        -o-transform: scale(0) rotate(10deg);
        transform: scale(0) rotate(10deg);
        opacity: 0;
        color: white;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: -0.01em;
        -webkit-transition: opacity 0.4s, -webkit-transform 0.3s;
        transition: opacity 0.4s, -webkit-transform 0.3s;
        -o-transition: opacity 0.4s, -o-transform 0.3s;
        -moz-transition: opacity 0.4s, transform 0.3s, -moz-transform 0.3s;
        transition: opacity 0.4s, transform 0.3s;
        transition: opacity 0.4s, transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
    }

    &:is(.-normal) {
        mix-blend-mode: normal;

        &::before {
            background: currentColor;
        }
    }

    &:is(.-text) {
        mix-blend-mode: normal;

        &::before {
            background: currentColor;
        }
    }

    &:is(.-inverse) {
        color: white;
    }

    &:is(.-visible) {
        &::before {
            -webkit-transform: scale(0.2);
            -moz-transform: scale(0.2);
            -ms-transform: scale(0.2);
            -o-transform: scale(0.2);
            transform: scale(0.2);
        }

        &:is(.-active) {
            &:before {
                -webkit-transform: scale(0.23);
                -moz-transform: scale(0.23);
                -ms-transform: scale(0.23);
                -o-transform: scale(0.23);
                transform: scale(0.23);
                -webkit-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                transition-duration: 0.2s;
            }
        }
    }

    &:is(.-pointer) {
        &::before {
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
        }
        
    }
    
    &:is(.-text) {
        &:before {
            background: #000;
            opacity: 0.80;
            backdrop-filter: blur(10);
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
        }

        .wa-cursor-text {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            -o-transform: scale(1);
            transform: scale(1);
        }
        

        &:is(.-active) {
            &::before {
                -webkit-transform: scale(1.6);
                -moz-transform: scale(1.6);
                -ms-transform: scale(1.6);
                -o-transform: scale(1.6);
                transform: scale(1.6);
                -webkit-transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                -o-transition-duration: 0.2s;
                transition-duration: 0.2s;
            }
        }
    }

    &:is(.-opaque) {
        &::before {
            -webkit-transform: scale(1.5);
            -moz-transform: scale(1.5);
            -ms-transform: scale(1.5);
            -o-transform: scale(1.5);
            transform: scale(1.5);
        }

        &:is(.-active) {
            &::before {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
        
    }

    &:is(.-lg) {
        &::before {
            -webkit-transform: scale(2);
            -moz-transform: scale(2);
            -ms-transform: scale(2);
            -o-transform: scale(2);
            transform: scale(2);
        }
        
    }

    &:is(.-hidden) {
        &::before {
            -webkit-transform: scale(0);
            -moz-transform: scale(0);
            -ms-transform: scale(0);
            -o-transform: scale(0);
            transform: scale(0);
        }
        
    }
	
}



@supports (mix-blend-mode: exclusion) {
	.wa-cursor.-exclusion, .wa-cursor.-opaque {
		mix-blend-mode: exclusion;
	}
}

@supports (mix-blend-mode: exclusion) {
	.wa-cursor.-exclusion:before, .wa-cursor.-opaque:before {
		background: white;
	}
}