/*
    41. breadcrumb
*/

/* 
    breadcrumb-start
*/


.breadcrumb {

    &-area {
        padding-top: 250px;
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        img {
            opacity: 28%;
        }
    }


    &-wrap {
        display: flex;
        flex-direction: column;
        gap: 100px;
        position: relative;
        z-index: 1;
    }



    &-title {
        font-family: var(--bs-font-1);
        font-size: 90px;
        line-height: 1;
        letter-spacing: -0.01em;
        color: #fff;
        font-weight: 700;
        margin-bottom: 0;
    
        @media #{$xl} {
            font-size: 80px;
        }
    
        @media #{$lg} {
            font-size: 70px;
        }
    
        @media #{$md} {
            font-size: 60px;
        }
    
        @media #{$xs} {
            font-size: 40px;
        }
    
        @media #{$sm} {
            font-size: 50px;
        }

    }

    &-list {
        position: relative;
        z-index: 1;
        background: var(--bs-clr-white-1);
        display: inline-block;
        margin-left: auto;
        padding: 16px 32px;

        & a,& span {
            font-weight: 500;
            font-size: 18px;
            letter-spacing: -0.01em;
            font-family: var(--bs-font-2);
            line-height: 28px;
            color: var(--bs-clr-h-4);
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
        }

        & a {
            padding-right: 30px;
            position: relative;
            transition: 300ms ;

            &:hover {
                color: var(--bs-clr-pr-1);
            }

            &::after {
                content: "";
                position: absolute;
                right: 3px;
                top: 13px;
                transform: translateY(-50%);
                background-image: url(../img/breadcrumb/icon.svg);
                width: 18px;
                height: 18px;
            }
        }
        & span {
            opacity: 60%;
        }

        &-shape {
            position: absolute;
            bottom: 220%;
            right: 113%;
            z-index: -1;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
    }

    &-back-page-btn {
        font-family: var(--bs-font-1);
        display: flex;
        align-items: center;
        gap: 12px;
        letter-spacing: .02em;
        font-size: 18px;
        color: var(--bs-clr-black-1);
        transition: .4s var(--bs-cube-2);

        i {
            color: var(--bs-clr-pr-1);
        }

        &:hover {
            color: var(--bs-clr-pr-1);
            transform: translateX(-3px);
        }
    }

        
    &-img {
        margin-right: -90px;
        position: relative;
        z-index: 1;

        @media #{$xl,$lg,$md,$xs} {
            margin-right: 0px;
        }

        &::before {
            content: "";
            width: 100%;
            height: 165px;
            background: linear-gradient(0deg, rgba(0,0,0, 80%) 0%, rgba(0,212,255,0) 100%);
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
        }
    }


}

.breadcrumb-area {
    &:is(.has-2) {
        padding-top: 0;

        .breadcrumb-wrap {
            gap: 64px;
            padding-top: 85px;
            padding-bottom: 75px;
        }

        .breadcrumb-title {
            color: var(--bs-clr-black-1);
        }
        .breadcrumb-bg-shape {
            width: 35%;
            text-align: right;
            position: absolute;
            right: -20px;
            top: 28%;
        }
    }
}


/* 
    breadcrumb-end
*/

/* 
    breadcrumb-career-page-start
*/
.breadcrumb-area {
    &:is(.has-career-page) {
        padding-top: 192px;

        .breadcrumb-wrap {
            display: grid;
            grid-template-columns: 1fr 1.05fr;
            gap: 66px;

            @media #{$lg,$md,$xs} {
                grid-template-columns: 1fr ;
            }

            .left {
                padding-top: 30px;
            }

            .disc {
                color: var(--bs-clr-white-1);
                opacity: 80%;
                max-width: 485px;
                margin-bottom: 32px;
            }

            .big-img {
                height: 760px;
                border-radius: 16px;

                @media #{$lg} {
                    height: 660px;
                }

                @media #{$md} {
                    height: 560px;
                }

                @media #{$xs} {
                    height: 400px;
                }

                @media #{$sm} {
                    height: 500px;
                }
            }

            .sm-img {
                max-width: 544px;
                height: 365px;
                border-radius: 16px;
                margin-left: auto;
                margin-top: 35px;
            }
        }

        .breadcrumb-title {
            font-size: 70px;
            max-width: 570px;
            margin-bottom: 24px;

            @media #{$md} {
                font-size: 60px;
            }
        
            @media #{$xs} {
                font-size: 40px;
            }
        
            @media #{$sm} {
                font-size: 50px;
            }
        }

        .breadcrumb-bg-img {
            height: calc(100% - 310px);
        }
    }
}
/* 
    breadcrumb-career-page-end
*/

/* 
    breadcrumb-blog-details-start
*/
.breadcrumb-area {
    &:is(.has-blog-details) {
        padding-top: 180px;

        .breadcrumb-wrap {
            gap: 60px;
        }

        .breadcrumb-back-page-btn {
            color: var(--bs-clr-white-1);
            &:hover {
                color: var(--bs-clr-pr-1);
            }
        }

        .breadcrumb-title {
            text-align: center;
        }
    }
}
/* 
    breadcrumb-blog-details-end
*/

