/*
    19. projects
*/

/* 
    contact-1-start
*/
.bs-contact-1 {

    &-bg-color {
        background-color: #f5f5f5;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 260px );
        z-index: -1;

        @media #{$md,$xs} {
            height: calc(100% - 220px);
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 110px;

        @media #{$xl,$lg} {
            gap: 50px;
        }

        @media #{$md,$xs} {
            gap: 50px;
            grid-template-columns: 1fr ;
        }
    }

    &-img {
        height: 635px;

        @media #{$xs} {
            height: 400px;
        }
        @media #{$sm} {
            height: 500px;
        }
    }

    &-video {
        max-width: 295px;
        height: 315px;
        margin-top: -230px;
        margin-left: auto;
        position: relative;
        z-index: 1;
        text-align: right;
        padding: 50px;

        .bg-img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        .bs-play-btn-2 {
            text-align: left;
        }
        
    }

    &-counter {
        display: flex;
        align-items: center;
        gap: 45px;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        @media #{$sm} {
            flex-wrap: nowrap;
        }

        &-item {
            display: flex;
            align-items: center;
            gap: 10px;

            .number {
                font-size: 120px;
                font-weight: 500;
                border-bottom: 6px solid #000;
                line-height: 1;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 70px;
                }
            }

            .disc {
                font-size: 15px;
                line-height: 1;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
    
}





/* 
    contact-1-end
*/


/* 
    contact-4-start
*/
.bs-contact-4 {

    &-area {
        padding-top: 460px ;
        padding-bottom: 172px;

        @media #{$xl} {
            padding-top: 360px ;
        }

        @media #{$lg,$md,$xs} {
            padding-top: 200px ;
        }

    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1070px;
        z-index: -1;

        @media #{$xxl} {
            height: 800px;
        }

        @media #{$xl} {
            height: 700px;
        }

        @media #{$lg} {
            height: 600px;
        }

        @media #{$md,$xs} {
            height: 500px;
        }

        .glow-1 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 340px !important;
            z-index: 1;

            @media #{$xxl} {
                height: 250px !important;
            }

            @media #{$xl} {
                height: 200px !important;
            }

            @media #{$lg,$md,$xs} {
                height: 150px !important;
            }
        }


    }

    &-wrap {
        display: grid;
        grid-template-columns: 1.2fr 1fr auto;
        margin-right: -95px;

        @media #{$xxl,$xl} {
            margin-right: 0px;
        }

        @media #{$lg} {
            margin-right: 0px;
            grid-template-columns: 1.2fr 1fr ;
            gap: 50px;
        }

        @media #{$md,$xs} {
            margin-right: 0px;
            grid-template-columns: 1fr ;
            gap: 50px;
        }
    }

    &-form {
        background: #F7F6F1;
        padding: 68px 60px;
        margin-top: 180px;

        @media #{$xl,$lg,$md,$xs} {
            padding: 68px 30px;
        }

        .title {
            font-size: 36px;
            font-weight: 700;
            color: var(--bs-clr-h-4);
            margin-bottom: 29px;
            @media #{$xl,$lg,$md} {
                font-size: 30px;
            }
            @media #{$xs} {
                font-size: 24px;
            }
        }


        .bs-form-1 {
            grid-template-columns: 1fr;
            gap: 36px;

            &-item {
                &-label {
                    font-size: 14px;
                    font-family: var(--bs-font-3);
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    line-height: 1;
                }

                &-input {
                    height: 50px;
                    padding: 0;
                    border-color: #D9D9D9;
                    color: #888888;
                    font-family: var(--bs-font-3);
                    font-weight: 400;

                    &:is(textarea) {
                        height: 70px;
                        padding-top: 10px;
                    }
                }


                &:last-child {
                    margin-top: 0;
                    padding-top: 30px;
                }
            }
        }

    }

    &-title {
        margin-left: 65px;
        align-self: end;
        margin-bottom: -80px;

        @media #{$lg,$md,$xs} {
            margin-bottom: 0px;
            margin-left: 0px;
        }
    }

    &-img {
        width: 290px;
        height: 686px;
        @media #{$xxl,$xl} {
            height: 556px;
        }
        @media #{$lg,$md,$xs} {
            height: 500px;
            width: 100%;
        }
    }
}


/* 
    contact-4-end
*/


