/*
    27. experience
*/


/* 
    expertise-4-start
*/

.bs-expertise-4 {
    &-wrap {
        height: 445px;
        overflow: hidden;
        position: relative;
        z-index: 1;

    }

    &-title {
        text-align: center;
        font-size: 167px;
        line-height: 1;
        font-weight: 900;
        text-transform: uppercase;
        color: var(--bs-clr-pr-1);
        opacity: 16%;
        position: absolute;
        left: 50%;
        transform: translate(-50% , -50%);
        top: 40%;
        width: 100%;

        @media #{$xl} {
            font-size: 127px;
        }

        @media #{$lg} {
            font-size: 97px;
        }
        @media #{$md} {
            font-size: 70px;
        }
        @media #{$xs} {
            font-size: 30px;
        }
        @media #{$sm} {
            font-size: 50px;
        }

        > span {
            &:nth-child(2) {
                margin-top: -30px;
            }
        }
    }

    &-box {
        position: relative;
        overflow: hidden;
        height: 645px;
        margin-top: -200px;
        
        > .single-tag {
            position: absolute;
            display: inline-block;
            margin-bottom: 0;
            left: 0;
            top: 0;
            user-select: none;
            pointer-events: auto;
        }
    
        .single-tag-item{
            display: inline-flex;
            align-items: center;
            gap: 6px;
            font-size: 22px;
            text-transform: capitalize;
            font-weight: 500;
            filter: drop-shadow(4px 16px 32px rgba(0, 0, 0, 0.08));

            user-select: none;
            pointer-events: auto;

            @media #{$xs} {
                font-size: 18px;
            }

            .icon {
                width: 68px;
                height: 68px;
                border-radius: 50%;
                background: #FCE8A4;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 20px;
                color: var(--bs-clr-white-1);

                @media #{$xs} {
                    width: 40px;
                    height: 40px;
                    font-size: 18px;
                }

                &:is(.has-clr-2) {
                    background: #FFD5BF;
                }

                &:is(.has-clr-3) {
                    background: #E4FBC1;
                }

                &:is(.has-clr-4) {
                    background: #C4D9FF;
                }
            }

            .text {
                background: #fff;
                border-radius: 100px;
                padding: 17px 40px;
                @media #{$xs} {
                    padding: 10px 20px;
                }
            }
        }
    }

    
}

/* 
    expertise-4-end
*/