/*
    21. property
*/

/* 
    property-1-start
*/
.bs-property-1 {

    &-sec-title {
        .bs-subtitle-1  {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-transform: unset;
        }
    }

    &-wrap {
        perspective: 2000px;
        transform-style: preserve-3d;
    }

    &-item {
        display: grid;
        grid-template-columns: 1fr 1.23fr;
        gap: 60px;
        align-items: center;

        @media #{$xxl,$xl} {
            gap: 40px;
        }

        @media #{$lg} {
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
            gap: 40px;
        }



        .item-meta {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: #f5f5f5;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 20px;
            text-transform: unset;

            span {
                &:nth-child(1) {
                    padding: 13px 21px;
                }
                &:nth-child(2) {
                    padding: 7px 6px;
                    background: var(--bs-clr-black-1);
                    color: var(--bs-clr-white-1);
                }
            }
        }

        .img-wrap {
            display: grid;
            grid-template-columns: 2.4fr 1fr;

            .item-img {
                a {
                    width: 100%;
                    height: 100%;
                }

                img {
                    transition: transform 500ms;
                    transform: perspective(0px) rotateX(0deg) rotateY(0deg) scaleX(1) scaleY(1);
                    transform-origin: center center;
                }
            }
        }

        .item-date {
            background: #f5f5f5;
            display: inline-block;
            text-transform: uppercase;
            font-size: 15px;
            color: #363636;
            font-weight: 500;
            border-radius: 100px;
            padding: 12px 27px;
            margin-bottom: 15px;
        }

        .item-title {
            color: #363636;
            font-size: 42px;
            margin-bottom: 29px;
            transition: .4s var(--bs-cube-2);

            @media #{$xxl} {
                font-size: 36px;
            }

            @media #{$xl} {
                font-size: 34px;
            }

            @media #{$lg,$md} {
                font-size: 30px;
            }

            @media #{$md} {
                font-size: 28px;
            }

            @media #{$xs} {
                font-size: 24px;
            }

            &:hover {
                color: var(--bs-clr-pr-1);
                transform: translateY(3px);
            }
        }

        .bs-btn-1 {
            background: var(--bs-clr-black-1);
            text-transform: capitalize;
            .shape {
                background: var(--bs-clr-pr-1);
            }

            &:hover {
                color: var(--bs-clr-black-1);
            }
        }

        &:hover {
            .item-img {
                img {
                    transform: perspective(2000px) rotateX(0.03deg) rotateY(0deg) scaleX(1.05) scaleY(1.05);
                }
            }

        }

        &:not(:last-child) {
            padding-bottom: 65px;
            border-bottom: 1px solid #808080;
            margin-bottom: 65px;
        }
    }
    
}

/* 
    property-1-end
*/