/*
    37. sponsor
*/


/* 
    sponsor-1-start
*/
.bs-sponsor-1 {
    &-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 40px;
        align-items: center;
        padding: 50px 0;

    }

    &-line {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #000;
        opacity: 20%;

        &:nth-child(2) {
            top: unset;
            bottom: 0;
        }
    }

    &-item {
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        img {
            transition: var(--bs-cube-1);

            &:nth-child(1) {
                position: absolute;
                transform: translateX(100%);
            }
        }

        &:hover {
            img {
                &:nth-child(2) {
                    transform: translateX(-100%);
                }
                &:nth-child(1) {
                    transform: translateX(0%);
                }
            }
        }
    }
}
/* 
    sponsor-1-end
*/