/*
    26. video
*/

/* 
    video-1-start
*/
.bs-video-1 {
    &-content {
        &-img {
            height: 870px;

            > a {
                width: 100%;
                height: 100%;
            }
            
            @media #{$xl} {
                height: 770px;
            }
            
            @media #{$lg} {
                height: 670px;
            }
            
            @media #{$md} {
                height: 570px;
            }
            
            @media #{$xs} {
                height: 500px;
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .title {
            position: absolute;
            bottom: -30px;
            left: 0;
            font-size: 150px;
            color: var(--bs-clr-white-1);
            font-weight: 900;
            line-height: 1;
            letter-spacing: -0.03em;
            text-transform: uppercase;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 0 30px;
            align-items: center;
            z-index: 1;

            @media #{$xxl} {
                font-size: 130px;
                bottom: 0px;
            }

            @media #{$xl} {
                font-size: 110px;
                bottom: 0px;
            }

            @media #{$lg} {
                font-size: 90px;
                bottom: 0px;
            }

            @media #{$md} {
                font-size: 80px;
                bottom: 0px;
            }

            @media #{$xs} {
                font-size: 40px;
                bottom: 0px;
            }

            @media #{$sm} {
                font-size: 60px;
                bottom: 0px;
            }
        }


        &-list {
            display: grid;
            grid-template-columns: 1.3fr 1fr;
            background: #2c2c2c;
            max-width: 600px;
            align-items: center;
            gap: 40px;

            @media #{$xs} {
                grid-template-columns:  1fr;
            }

            @media #{$sm} {
                grid-template-columns: 1.3fr 1fr;
            }

            .main-img {
                font-size: 0;
                height: 105px;
            }

            .list {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    font-size: 16px;
                    letter-spacing: 0em;
                    font-weight: 400;
                    text-transform: capitalize;
                    line-height: 1.5;

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }
                }
            }

        }

        
    }

    &-play-btn {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}


/* 
    video-1-end
*/

/* 
    video-2-start
*/
.bs-video-1-content-img {
    &:is(.has-video-2) {

        @media #{$xs} {
            height: 350px;
        }

        @media #{$sm} {
            height: 400px;
        }

        @media #{$md} {
            height: 500px;
        }

        .bs-video-1-play-btn  {
            top: 50%;
        }

    
    }
}
/* 
    video-2-end
*/
/* 
    video-4-start
*/
.bs-video-4 {
    &-content {
        height: 710px;

        @media #{$xxl} {
            height: 650px;
        }

        @media #{$xl} {
            height: 600px;
        }

        @media #{$lg} {
            height: 550px;
        }

        @media #{$md,$xs} {
            height: 500px;
        }
    }

    &-text {
        position: absolute;
        bottom: -62px;
        left: 0;
        width: 100%;

        @media #{$lg,$md,$xs} {
            bottom: -10px;
        }

        &-item {
            font-size: 235px;
            font-weight: 800;
            text-transform: uppercase;
            line-height: 1;
            text-shadow: 4px 4px 0px #6A6A6A;
            color: var(--bs-clr-h-4);

            @media #{$xxxl} {
                font-size: 210px;
            }

            @media #{$xxl} {
                font-size: 190px;
            }

            @media #{$xl} {
                font-size: 170px;
            }

            @media #{$lg} {
                font-size: 150px;
            }

            @media #{$md} {
                font-size: 130px;
            }

            @media #{$xs} {
                font-size: 90px;
            }

            @media #{$sm} {
                font-size: 110px;
            }

            .split-line {
                div {
                    div {
                        transform-origin: center bottom;
                        transition: var(--bs-cube-1);


                        &:hover {
                            color: var(--bs-clr-pr-1);
                            transform: scaleY(130%);
                        }
                    }
                }
            }
        }
    }
}

/* 
    video-4-end
*/

/* 
    video-5-start
*/
.bs-video-5 {
    &-area {
        height: 900px;

        @media #{$xl} {
            height: 800px;
        }

        @media #{$lg} {
            height: 700px;
        }

        @media #{$md} {
            height: 600px;
        }

        @media #{$xs} {
            height: 400px;
        }

        @media #{$sm} {
            height: 500px;
        }
    }

    &-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}


/* 
    video-5-end
*/