/*
    20. work
*/

/* 
    work-1-start
*/
.bs-work-1 {
    &-area {
        padding-top: 140px;
        padding-bottom: 210px;
    }

    &-bg-img {
        width: 41%;
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1.475fr 1fr;
        gap: 70px;
        align-items: center;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
            gap: 50px;
        }
    }

    &-tabs {
        &-btn {
            .nav-link {
                font-size: 80px;
                font-weight: 400;
                color: #878787;
                display: flex;
                line-height: 1.2;
                background: transparent;
                width: 100%;
                text-transform: capitalize;
                padding: 41px 0;
                gap: 15px;
                position: relative;
                z-index: 1;
                transition: var(--bs-cube-1);

                @media #{$xxl} {
                    font-size: 70px;
                }

                @media #{$xl} {
                    font-size: 60px;
                }

                @media #{$lg} {
                    font-size: 50px;
                }

                @media #{$md} {
                    font-size: 40px;
                }

                @media #{$xs} {
                    font-size: 30px;
                }

                &:not(:first-child) {
                    border-top: 1px solid #878787;
                }

                
                .number {
                    font-size: 25px;
                    font-weight: 700;
                    transform: translateY(-5px);
                }

                .line {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%) scaleX(0);
                    transform-origin: left;
                    left: 89%;
                    z-index: -1;
                    height: 1px ;
                    width: 260px;
                    background-color: var(--bs-clr-pr-1);
                    transition: .5s var(--bs-cube-1);

                    @media #{$md,$xs} {
                        display: none;
                    }
                }

                &:is(.active) {
                    color: var(--bs-clr-pr-1);
                    font-weight: 500;

                    .line {
                        transform: translateY(-50%) scaleX(1);
                    }
                }

            }
        }


        &-item {
            &-single {
                .item-img {
                    height: 495px;
                    margin-bottom: 35px;
                    transform: translateY(50px);
                    transition: var(--bs-cube-1);
                    opacity: 0;
                }

                .item-disc {
                    color: #7a7a7a;
                    font-family: var(--bs-font-2);
                    line-height: 24px;
                    margin-bottom: 30px;
                    transform: translateY(50px);
                    transition: var(--bs-cube-1);
                    opacity: 0;
                }

                .item-btn {
                    transform: translateY(50px);
                    transition: var(--bs-cube-1);
                    opacity: 0;
                }

                .bs-btn-1 {
                    background: var(--bs-clr-black-1);
                    text-transform: capitalize;
                    .shape {
                        background: var(--bs-clr-pr-1);
                    }

                    &:hover {
                        color: var(--bs-clr-black-1);
                    }
                }
            }

            .tab-pane {
                &:is(.show) {
                    .bs-work-1-tabs-item-single {
                        .item-img {
                            transform: translateY(0);
                            opacity: 1;
                        }
                        .item-disc {
                            transform: translateY(0);
                            transition-delay: .3s;
                            opacity: 1;
                        }
                        .item-btn {
                            transform: translateY(0);
                            transition-delay: .5s;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}


/* 
    work-1-end
*/

/* 
    work-3-start
*/
.bs-work-3 {
    &-wrap {
        display: flex;
    }

    &-item {
        max-width: 485px;
        height: 540px;
        position: relative;
        z-index: 1;
        flex: 0 0 auto;
        overflow: hidden;

        @media #{$xxl,$xl,$lg} {
            max-width: 400px;
            height: 480px;
        }

        @media #{$md,$xs} {
            max-width: 300px;
            height: 350px;
        }

        &::after {
            background: var(--bs-clr-pr-1);
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            mix-blend-mode: multiply;
            transition: .7s var(--bs-cube-2);
            opacity: 0;
        }

        .item-img {
            width: 100%;
            height: 100%;
        }

        .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            gap: 30px;
            z-index: 1;
            transition: .7s var(--bs-cube-2);
            opacity: 0;

            .circle {
                width: 85px;
                height: 85px;
                background: #fff;
                border-radius: 50%;
                transition: 0.7s cubic-bezier(0.32, 2, 0.55, 0.27);
                transform: translateY(-290px);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
                color: var(--bs-clr-pr-1);
            }
        }

        &:hover {
            &::after {
                opacity: 1;
            }
            .content {
                opacity: 1;
                .circle {
                    transform: translateY(0px);
                }
            }

        }
    }
}




/* 
    work-3-end
*/

/* 
    work-5-start
*/

.bs-work-5 {
    &-sec-title {
        max-width: 790px;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr 1fr ;
            gap: 10px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr  ;
            gap: 10px;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr  ;
            gap: 10px;
        }
    }
    
    &-card {
        background: var(--bs-clr-white-1);
        border: 1px solid #A3ADAF;
        position: relative;
        z-index: 1;
        padding: 48px 40px;
        transition: .4s var(--bs-cube-2);
        overflow: hidden;
        margin-left: -1px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media #{$xl,$lg,$md,$xs} {
            padding: 48px 20px;
        }

        .title {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: -0.02em;
            margin-bottom: 18px;
            transition: .4s var(--bs-cube-2);
        }

        .disc {
            opacity: 80%;
            margin-bottom: 165px;
            transition: .4s var(--bs-cube-2);

            @media #{$lg,$md,$xs} {
                margin-bottom: 100px;
            }
        }

        .bg-img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: -1;
            transition: .4s var(--bs-cube-2);
            opacity: 0;
            transform: translateY(50px);
        }

        .number {
            font-size: 95px;
            font-weight: 700;
            line-height: .75;
            text-align: right;
            -webkit-text-stroke: 1px #A3ADAF;
            -webkit-text-fill-color: transparent;
            transition: .4s var(--bs-cube-2);
        }

        &:hover {
            background: var(--bs-clr-h-4);

            .title , .disc {
                color: var(--bs-clr-white-1);
            }
            .bg-img {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
    }
    
}


/* 
    work-5-end
*/

/* 
    work-6-start
*/
.bs-work-process {
    &-sec-title {
        max-width: 995px;
    }

    &-img {
        height: 586px;

        @media #{$md} {
            height: 500px;
        }

        @media #{$xs} {
            height: 400px;
        }
    }


    &-item {
        max-width: 1040px;
        margin-left: auto;
        margin-right: auto;

        &-single {
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            gap: 60px;

            @media #{$md} {
                gap: 40px;
            }

            @media #{$xs} {
                gap: 40px;
                grid-template-columns: 1fr;
            }

            &:not(:last-child) {
                margin-bottom: 64px;

                .item-line {
                    height: calc(100% + 64px);

                    &::after {
                        bottom: 148px;
                    }
                }
            }

            .item-img {
                mask-image: url("../img/work/w6-img-mask.png");
                mask-repeat: no-repeat;
                -webkit-mask-repeat: no-repeat;
                mask-size: 100% 100%;
                -webkit-mask-size: 100% 100%;
                mask-position: center center;

                height: 290px;

                @media #{$md,$xs} {
                    mask-size: 115% 100%;
                    -webkit-mask-size: 115% 100%;
                    border-radius: 12px;
                }
            }

            .item-line {
                width: 1px;
                height: 100%;
                background: var(--bs-clr-pr-1);
                position: relative;
                z-index: 1;

                @media #{$xs} {
                    display: none;
                }

                &::after {
                    content: "";
                    width: 26px;
                    height: 26px;
                    position: absolute;
                    bottom: 86px;
                    left: -13px;
                    background: var(--bs-clr-pr-1);
                    border-radius: 50%;
                    border: 5px solid #fff;
                    outline: 1px solid var(--bs-clr-pr-1);
                }
            }

            .content {
                align-self: center;
                position: relative;
                z-index: 1;
            }

            .title {
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 20px;

                @media #{$md} {
                    font-size: 28px;
                }

                @media #{$xs} {
                    font-size: 24px;
                }
            }

            .number {
                font-size: 60px;
                font-weight: 900;
                color: #EDF1F4;
                line-height: 1;
                position: absolute;
                left: -36px;
                top: -30px;
                z-index: -1;
                @media #{$xs} {
                    left: 0px;
                }
            }

            &:nth-child(even) {
                direction: rtl;

                .item-img {
                    mask-image: url("../img/work/w6-img-mask-2.png");
                }

                .content {
                    text-align: left;
                }
            }
            
        }
    }
    
}
/* 
    work-6-end
*/