
/*
    02. utility
*/
@media (min-width: 1600px) {
    .container{
        &.bs-container-1 {
            max-width: 1484px;
        }
        &.bs-container-2 {
            max-width: 1344px;
        }
    }
}
.wa-row {
    --bs-gutter-x: 32px;
}    

.wa-list-style-none {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wa-fix {
    overflow: hidden;
}

.wa-ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.wa-img-cover {
    img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
    }
}

.wa-bg-default {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.flaticon {
    display: inline-block;
    line-height: 0.65;
}

.wa-z-index-3 {
    position: relative;
    z-index: 3;
}


.wa-p-absolute {
    position: absolute;
}

.wa-p-relative {
    position: relative;
    z-index: 1;
}

.wa-origin-left {
    transform-origin: left;
}
.wa-origin-right {
    transform-origin: right;
}

.wa-fw-400 {
    font-weight: 400;
}

.wa-fw-500 {
    font-weight: 500;
}

.wa-fw-600 {
    font-weight: 600;
}

.wa-fw-700 {
    font-weight: 700;
}

.wa-fw-800 {
    font-weight: 800;
}

.wa-fw-900 {
    font-weight: 900;
}

.wa-ml-auto {
    margin-left: auto;
}

.wa-mr-auto {
    margin-right: auto;
}


.wa-line-limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;

    &:is(.has-line-1) {
        -webkit-line-clamp: 1; 
        line-clamp: 1; 
    }

    &:is(.has-line-2) {
        -webkit-line-clamp: 2; 
        line-clamp: 2; 
    }

    &:is(.has-line-3) {
        -webkit-line-clamp: 3; 
        line-clamp: 3; 
    }

    &:is(.has-line-4) {
        -webkit-line-clamp: 4; 
        line-clamp: 4; 
    }

    &:is(.has-line-5) {
        -webkit-line-clamp: 5; 
        line-clamp: 5; 
    }

    &:is(.has-line-6) {
        -webkit-line-clamp: 6; 
        line-clamp: 6; 
    }

    &:is(.has-line-7) {
        -webkit-line-clamp: 7; 
        line-clamp: 7; 
    }

    &:is(.has-line-8) {
        -webkit-line-clamp: 8; 
        line-clamp: 8; 
    }

    &:is(.has-line-9) {
        -webkit-line-clamp: 9; 
        line-clamp: 9; 
    }

    &:is(.has-line-10) {
        -webkit-line-clamp: 10; 
        line-clamp: 10; 
    }
}


.wa-will-c {
    will-change: transform, opacity;
  }