@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {

    scroll-behavior: inherit;

	--bs-font-1: "Albert Sans", serif;
	--bs-font-2: "Space Grotesk", serif;
	--bs-font-3: "DM Sans", serif;
	--allura: "Allura", serif;

    
	--bs-clr-pr-1: #f16319;

	--lw-clr-sd-1: #C4EF17;

	--bs-clr-h-4: #060606;

	
	--bs-clr-white-1: #ffffff;


	--bs-clr-black-1: #000000;
	--bs-clr-black-2: #363636;







	--bs-cube-1:  all .25s cubic-bezier(.645,.045,.355,1);
	--bs-cube-2: cubic-bezier(.1,.75,.25,1);
	
}

$over:'(min-width: 1800px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1799px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 767px)';
